---
layout: layout
title: "formhub blog"

---


    {% for post in site.posts limit:10 %}
    {% if post.content contains '<!--more-->' %}
    <div id="post">
        <div id="postwrap">
            <span style="margin-left: 610px;"><a href="https://twitter.com/intent/tweet?text={{post.title}}&url=http://blog.formhub.org/{{post.url}}"><i class="icon-twitter icon-large"></i></a></span>
            <div class="question"><a href="{{post.url}}">{{ post.title }}</a></div>
            <div class="postdate"><span class=boldallcaps> {{ post.date | date: "%m %B %Y" }}</span>
            </div>
            <div class="answer">
                {{ post.content | split:'<!--more-->' | first }}
            </div>
        </div>
    </div>
    <div class="bottom-bar"><a class="big button blue" href="{{post.url}}">READ MORE</a></div>
    {% else %}
    <div id="post">
        <div id="postwrap">
            <span style="margin-left: 610px;"><a href="https://twitter.com/intent/tweet?text={{post.title}}&url=http://blog.formhub.org/{{post.url}}"><i class="icon-twitter icon-large"></i></a></span>
            <div class="question"><a href="{{post.url}}">{{ post.title }}</a></div>
            <div class="postdate"><span class=boldallcaps> {{ post.date | date: "%m %B %Y" }}</span></div>
            <div class="answer">
                {{ post.content }}
            </div>
        </div>
    </div>
    {% endif %}

{% endfor %}

<div id="post-spacer"></div>

<div class="bottom-bar"><a class="big button blue" href="/">ALL POSTS</a></div>


